<p id="notice"><%= notice %></p>



<div class="container">
 <% cache @product do %>
  <div class="col-sm-12 col-md-6">
    <br/>
    <br/>
    <h3><%= @product.name %></h3>
    <br>

    <div>
      <% if @product.image_url.present? %>
        <%= image_tag(@product.image_url, width: "400", class: "img-zoom img-thumbnail", data_zoom_image: "@product.image_url") %>
      <% end %>
    </div>
    <br/>
    <%= link_to 'Edit', edit_product_path(@product),class:"btn btn-default" %> |
    <%= link_to 'Back', products_path, class:"btn btn-default" %>

  </div><!--/col-->

  <div class="col-sm-12 col-md-6">
    <div class="product-info">
    <br>
     <br>

     <h4>
       <strong>Description:</strong>
       <%= @product.description %>
     </h4>
     <h4>
       <strong>Color:</strong>
       <%= @product.colour %>
     </h4>
      <br>
     <h4>
       <strong>Price: $</strong>

       <%= @product.price %>
     </h4>

     <br>
     <br>
      <h4><strong>Average Rating: </strong></h4>
      <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>">
     </div>
     <br>
     <br>

     <%= form_tag "/payments/create" do %>
      <%= hidden_field_tag(:product_id, @product.id) %>
       <%= render partial: "shared/stripe_checkout_button" %>
     <% end %>




   </div><!--/product-info-->
  </div> <!--col-->
 <% end %>

</div><!-- container -->

<div class="col-md-6 col-xs-12"
  <%= render 'comments' %>
  <%= render 'new_comment' %>
</div>
