<p id="notice"><%= notice %></p>



<div class="container">
  <div class="col-sm-12 col-md-6">
    <br/>
    <br/>
    <h3><%= @product.name %></h3>
    <br>

    <div>
      <%= image_tag(@product.image_url, class: "img-zoom img-thumbnail", data_zoom_image: "@product.image_url") %>
    </div>
  </div><!--/col-->

  <div class="col-sm-12 col-md-6">
    <div class="product-info">
    <br>
     <h4>
       <strong>Price:</strong>
       <span class="glyphicon glyphicon-euro"></span>
       <%= @product.price %>
     </h4>
     <br>
     <h4>
       <strong>Colour:</strong>
       <%= @product.colour %>
     </h4>
      <br>

     <h4>
       <strong>Description:</strong>
       <%= @product.description %>
     </h4>

     <br>
     <br>
     <div class="rated" data-score="<%= @product.average_rating %>">
      <h4><strong>Average Rating</strong></h4>
     </div>



<br/>

<%= link_to 'Edit', edit_product_path(@product),class:"btn btn-default" %> |
<%= link_to 'Back', products_path, class:"btn btn-default" %>

</div> <!--col-->
</div><!--/product-info-->

</div><!-- container -->

<div class="col-md-6 col-xs-12"
  <%= render 'comments' %>
  <%= render 'new_comment' %>
</div>
